<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <!--Add a nav bar here -->
    {% include "./header.html" %}


    <!-- Add reviews as cards -->
    <br><br>
    <div class="container">

        <h3>Reviews for {{dealer_name}}</h3>
        <br><br>

        {% if reviews.length == 0 %}
        <div class="card" style="width: 90%;">
            <div class="card-body">
                <p class="card-text">
                    No reviews yet
                </p>
            </div>
        </div>
        {% endif %}

        <div class="row">
            {% for review in reviews %}
            <div class="col-sm-6">
                <div class="card">
                    {% if review.sentiment == "positive" %}
                    <img class="card-img-left" src="{{ MEDIA_URL }}/emoji/positive.png" width="40px" height="40px">
                    {% elif review.sentiment == "neutral" %}
                    <img class="card-img-left" src="{{ MEDIA_URL }}/emoji/neutral.png" width="40px" height="40px">
                    {% elif review.sentiment == "negative" %}
                    <img class="card-img-left" src="{{ MEDIA_URL }}/emoji/negative.png" width="40px" height="40px">
                    {% endif %}
                    <div class="card-body">
                        {% if review.purchase %}
                        <h5 class="card-title">{{ review.car_make }}, {{ review.car_model }}, {{ review.car_year }}</h5>
                        <h5 class="card-title"></h5>
                        {% else %}
                        <h5 class="card-title">No Purchase</h5>
                        {% endif %}
                        <p class="card-text">{{ review.review }}</p>
                    </div>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>

        {% if user.is_authenticated %}
        <br><br>
        <div style="width: 100%; text-align: center;">
            <a class="btn btn-primary" href="{% url 'djangoapp:add_review' dealer_id %}" role="button">
                Write review
            </a>
        </div>
        {% endif %}
    </div>

</body>

</html>